!*.ncb
obj
bin
csx
temp
.sass-cache/
*.idea
node_modules/
deploy
deploy/*
_ReSharper.*
*.resharper
*.suo
*.cache
~$*
*.user
packages/*
!packages/repositories.config
TestResults/*
*.DotSettings
*main.min.js
*.dbmdl
/Mcis.TradingPortal.Web/uploads
*.sass-cache
*.idea
node_modules/
npm-debug.log
vendor
build
.DS_Store
.env