<!-- <div id="login">
	<header>
	<div class="logo">
        <a ui-sref="#">
        	<img src="./images/nav-logo.png"> 
        	<span class="lead">for Developers</span>
       	</a>
   	</div>
	
	<div class="sign-in">
	    <a href="#" ng-click="openLoginForm()">Sign In</a>
	</div>
	</header>

	<main class="bg"> 
		<div class="content-wrapper">
			<h1>Build your ad network</h1> 
			<p class="lead">Enrich your app experience with brand engagement by integrating developer-friendly Swyft API</p> 
			<br><br>
			<p class="sign-in">
				<a href="#" class="btn-sign-in" ng-click="openLoginForm()">Get Started</a> 
			</p>
		</div> 
	</main>
</div> -->
<a href="#" class="btn-sign-in" ng-click="openLoginForm()">Get Started</a> 